<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <title>leaf</title>
  <script type="text/javascript" src="js/base/jquery.js"></script>
  <script type="text/javascript" src="js/base/iscroll.js"></script>
  <!-- <script type="text/javascript" src="js/base/iscroll5.js"></script> -->
  <link rel="stylesheet" type="text/css" href="css/test.css" />
</head>
<body>
	<div class="find_nav">
		<div class="find_nav_left">
			<div class="find_nav_list" id="pagenavi1">
				<ul>
					<li><a href="#" class="active">每日更新</a></li>
					<li><a href="#">精品首推</a></li>
					<li><a href="#">时尚包包</a></li>
					<li><a href="#">T恤</a></li>
					<li><a href="#">运动品牌</a></li>
					<li><a href="#">香水化妆品</a></li>
					<li><a href="#">阿迪达斯</a></li>
					<li><a href="#">耐克</a></li>
					<li><a href="#">范思哲</a></li>
					<li><a href="#">古驰</a></li>
					<li class="sideline"></li>
				</ul>

			</div>
		</div>
	</div>
	<div id="slider1" class="swipe">
		<ul class="box01_list">
			<li class="li_list" style="background: #db7575">1</li>
			<li class="li_list" style="background: #75b140">2</li>
			<li class="li_list" style="background: #b16b40">3</li>
			<li class="li_list" style="background: #4053b1">4</li>
			<li class="li_list" style="background: #b14080">5</li>
			<li class="li_list" style="background: #4dd1b3">6</li>
			<li class="li_list" style="background: #bea30e">7</li>
			<li class="li_list" style="background: #865bb3">8</li>
			<li class="li_list" style="background: #69b03f">9</li>
			<li class="li_list" style="background: #c25e28">10</li>
		</ul>
	</div>
	
	<div th:text="${k1}">显示的内容</div>
</body>
</html>
