<html>
<head>
<meta charset="utf-8">
<title>中国移动Esop客户管理系统</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
<script src="http://localhost:8080/redirection1/biz/js/base/echarts.min.js"></script>
<meta name = "format-detection" content = "telephone=no">
<link rel="stylesheet" href="http://localhost:8080/redirection1/biz/css/project.css">
<link rel="stylesheet" href="http://localhost:8080/redirection1/biz/css/mobiscroll.core-2.6.2.css">
<script src="http://localhost:8080/redirection1/res/js/base/require.js"></script>
<script src="http://localhost:8080/redirection1/res/js/require-config.js" ></script>
<script src="http://localhost:8080/redirection1/biz/js/common/require-config.js" ></script>

<!--注:由于html页面会被加密,不能使用双斜杠作为注释符号-->
<script language="javascript">
/*自定义增加每个页面需要执行的公共逻辑*/
require(["domReady!","mobile","jcl","tap"],function(doc, Mobile, $) {
	/*每个页面的back样式都需要执行回退*/
	$("#back").tap(function(){
		Mobile.back();
	});
}); 
</script>


<script src="http://localhost:8080/redirection1/biz/js/index.js"></script>
<script src="http://localhost:8080/redirection1/biz/js/homePage/home.js"></script>
<script src="http://localhost:8080/redirection1/biz/js/homePage/workRemind.js"></script>
</head>
<body>

	<div class="indexFooter">
		<nav id="home_foot_menu">
			<li><p>首页</p></li>
			<li id="footer_remind"><p>工作提醒</p> <span style="display: none"></span></li>
			<li id="footer_notice"><p>公告</p> <span style="display: none"></span></li> 
			<li id="footer_more"><p>更多</p></li>
		</nav>
	</div>
	<div id="home_info_details">
		<div id="home_menu_page">
			<div class="primary_menu" id="main_busi_menu">
				<a style="text-decoration: none" ><img src="http://localhost:8080/redirection1/biz/img/menu01.png" />客户管理</a> 
				<a style="text-decoration: none" ><img src="http://localhost:8080/redirection1/biz/img/menu02.png" />业务办理</a> 
				<a style="text-decoration: none" ><img src="http://localhost:8080/redirection1/biz/img/menu05.png" />云MAS</a>
				<a style="text-decoration: none" ><img src="http://localhost:8080/redirection1/biz/img/menu03.png" />工作管理</a> 
				<a style="text-decoration: none" ><img src="http://localhost:8080/redirection1/biz/img/menu04.png" />知识共享</a>
			</div>
				<div class="indexHeader">
					<li class="home_logo">
						<span id="back" class="index_title_icon_left" style="display:none"></span>
						<img id="index_title_logo_img" src="http://localhost:8080/redirection1/biz/img/mlogo.png" style="display:block" />
					</li>
					<li>客户经理销售支撑系统</li>
				</div>
				<!--  style="position:fixed;top:0;left:0;margin:58px 0 142px 0;height:450px;width:100%;overflow-y:scroll;overflow-x:hidden" -->
				<div class="tubiao" id="homeContent">
				<div class="indexTable">
					<ul>
						<li id="account_li">工号：</li>
			            <li>
				            <label id="mouth_select_label">点击选择月份</label>
			            </li>
					</ul>
				</div>
				
				<div class="indextab">
				 <ul class="tablist-content"  >
						<div class="bd">
							<div id="main"></div>
						</div>
	
						<div class="shuzubiao">
							<ul>
								<li>集团成员统付</li>
								<li id="GROUP_TF_INCOME">0</li>
								<li id="GROUP_TF_INCOME_MOM">0<i class="down"></i>
								</li>
							</ul>
							<ul>
								<li>集团单位产品</li>
								<li id="GROUP_PROD_INCOME">0</li>
								<li id="GROUP_PROD_INCOME_MOM">0<i class="up"></i></li>
							</ul>
							<ul>
								<li>4G用户数</li>
								<li id="FOURG_USER_COUNT">0</li>
								<li id="FOURG_USER_COUNT_MOM">0<i class="up"></i></li>
							</ul>
							<ul>
								<li>4G渗透率</li>
								<li id="FOURG_PERMEABILITY_COUNT">0</li>
								<li id="FOURG_PERMEABILITY_COUNT_MOM">0<i class="up"></i></li>
							</ul>
							<ul>
								<li>USIM集团成员</li>
								<li id="USIM_COUNT">0</li>
								<li id="USIM_COUNT_MOM">0<i class="up"></i></li>
							</ul>
							<ul>
								<li>4G终端集团成员</li>
								<li id="FOURG_TERMINAL_COUNT">0</li>
								<li id="FOURG_TERMINAL_COUNT_MOM">0<i class="up"></i></li>
							</ul>
	
						</div>
	
						<div class="tongjihuibao">
							<ul id="group_count">
								<li>集团总数</li>
								<li><span id="GROUP_TOTAL_COUNT">0</span>家</li>
							</ul>
							<ul>
								<li>成员总数</li>
								<li><span id="GROUP_MEMBER_TOTAL_COUNT">0</span>户</li>
							</ul>
							<ul>
								<li>集团收入</li>
								<li><span id="TOTAL_INCOME">0</span>万元</li>
							</ul>
							<ul>
								<li>信息化收入</li>
								<li><span id="INFORMATION_INCOME">0</span>万元</li>
							</ul>
							<ul id="log_count_ul">
								<li>日志总数</li>
								<li><span id="log_num">0</span>个</li>
							</ul>
							<ul id="warningTask">
								<li>预警总数</li>
								<li><span id="recomind_num">0</span>个</li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="home_workRemind_page" style="display: none">
			<div class="headerTitle">
			    <h1>工作提醒</h1>
			    <div class="ui-btn-right"></div>
			</div>
			<div class="margintop50"></div>
			<div class="ui-content" style="bottom:60px">
			<ul class="tabsTitle">
				        <li class="activeStyle" id="remind_table_unread">未读</li>
				        <li  id="remind_table_read">已读</li>
				    </ul>
			    <ul id="unread_tab" class="tabListContent">
			    </ul>
			    <ul id="read_tab" class="tabListContent historyTrad" style="display: none">
			    </ul>
			</div>
		</div>
		<div id="home_notice_page" style="display: none">
			<div class="headerTitle">
				<h1>公告</h1>
				<div class="ui-btn-right" id="sort_button">
					<a>排序</a>
   				</div>
			</div>
			<div class="margintop50"></div>
			<div class="ui-content" style="bottom:60px">
				<ul class="tabsTitle">
					<li class="activeStyle" id="notice_table_unread">未读</li>
					<li id="notice_table_read">已读</li>
				</ul>
				<ul id="notice_unread" class="tabListContent">
				</ul>
				<ul id="notice_read" class="tabListContent" style="display: none">
				</ul>
			</div>
			<div class="recommendBg" id="sort_dialog_bellow" style="display: none"></div>
			<div class="cancellation ui-btn ui-corner-all ui-shadow"
				style="display: none" id="sort_dialog">
				<ul>
					<li>发布时间（从早到晚）</li>
					<li>发布人（从Z到A）</li>
					<li>发布时间（从晚到早）</li>
					<li>发布人（从A到Z）</li>
					<li>公告类别</li>
				</ul>
			</div>
		</div>
		<div id="home_more_page" style="display: none">
			<div class="headerTitle">
			    <h1>更多功能</h1>
			</div>
			<div class="margintop50"></div>
			<div id="more">
			    <div class="ui-listview">
			        <ul>
			            <li class="ui-btn ui-btn-d ui-corner-all" style="display: none;" id="setting_button">设置</li>
			            <li class="ui-btn ui-btn-d ui-corner-all" style="text-align: center;" id="logout_button">注销</li>
			            <li class="ui-btn ui-btn-d ui-corner-all" style="text-align: center;" id="quit_button">退出系统</li>
			        </ul>
			    </div>
			</div>
			<div class="groupProfile cancellation ui-btn ui-corner-all ui-shadow" style="display: none">
			    正在开发中……
			    <input value="关闭" type="button" onclick="hiddenDiv()">
			</div>
			<div class="recommendBg" id="more_dialog_bellow" style="display: none"></div>
			<div id="logout_div" class="cancellation ui-btn ui-corner-all ui-shadow" style="display: none">
			    <h1 >提示信息</h1>
			    <h2 >确认注销？</h2>
			    <div>
			        <a id="logout_confirm" class="ui-btn">确定</a>
			        <a id="logout_cancel" class="ui-btn">取消</a>
			    </div>
			</div>
			<div  id="quit_div" class="cancellation ui-btn ui-corner-all ui-shadow" style="display: none">
			    <h1>提示信息</h1>
			    <h2>确认退出系统吗？</h2>
			    <div>
			        <a id="quit_confirm" class="ui-btn">确定</a>
			        <a id="quit_cancel" class="ui-btn">取消</a>
			    </div>
			</div>
		</div>
	</div>
	<div class="recommendBg" id="mouth_select_bellow" style="display: none"></div>
	<div id="div_mouth_select" class="cancellation ui-btn ui-corner-all ui-shadow" style="display: none">
		<ul></ul>
	</div>
	<!-- 云MAS工具 -->
	<div class="pop-marketing" id="cloud_mas_option" style="display:none;">
	    <div class="menu">
	        <a><img src="http://localhost:8080/redirection1/biz/img/m-37.png"/>查工单</a>
	        <a><img src="http://localhost:8080/redirection1/biz/img/m-38.png"/>看营销</a>
	        <a><img src="http://localhost:8080/redirection1/biz/img/m-39.png"/>学知识</a>
	    </div>
	    <div class="close">
	        <a><img src="http://localhost:8080/redirection1/biz/img/m-41.png"></a>
	    </div>
	</div>
</body>
</html>
